#good_type .button{
     -fx-background-color: #484848;
     -fx-background-repeat: repeat;
     -fx-background-size: auto;
     -fx-text-fill: #dddddd;
     -fx-font-size: 12px;
     -fx-cursor: hand;
     -fx-start-margin: 0;
     -fx-end-margin: 0;
     -fx-padding: 1px 4px;
     -fx-min-width: 40px;
     -fx-border-width:0 1px 0 0;
     -fx-border-style: solid;
     -fx-border-color: #808080;
     -fx-background-radius: 0px;
     -fx-pref-height: 1em;
     -fx-max-height: 1em;
     -fx-fill-height: true;
 }
#good_type .button:hover{
    -fx-background-color: #D4D0C8;
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
    -fx-text-fill: #FF0000;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-padding: 1px 4px;
    -fx-border-width:0 1px 0 0;
    -fx-border-style: solid;
    -fx-border-color: #808080;
    -fx-background-radius: 0px;
    -fx-pref-height: 12px;
    -fx-max-height: 12px;
    -fx-fill-height: true;
}
.table-view .column-header .label{
    -fx-font-size: 15px;
    -fx-border-style: solid;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #646464 transparent #800000 transparent;
}
.table-view .column-header#openPrice .label{
    -fx-alignment: center-right;
}
.table-view .column-header#maxPrice .label{
    -fx-alignment: center-right;
}
.table-view .column-header#mixPrice .label{
    -fx-alignment: center-right;
}
.table-view .column-header#newPrice .label{
    -fx-alignment: center-right;
}
.table-view .column-header#upDown .label{
    -fx-alignment: center-right;
}
.table-view .column-header#extent .label{
    -fx-alignment: center-right;
}
.table-view .column-header#yestedayPrice .label{
    -fx-alignment: center-right;
}
.table-view .column-header#comePrice .label{
    -fx-alignment: center-right;
}
.table-view .column-header#outPrice .label{
    -fx-alignment: center-right;
}
.table-view .column-header#overNumber .label{
    -fx-alignment: center-right;
}
.table-view .column-header#overMoney .label{
    -fx-alignment: center-right;
}
.table-row-cell .cell,.table-row-cell .cell .label {
    -fx-text-fill: #FF0000;
    -fx-font-weight: 300;
}

