
/*
top
 */
.root{
    -fx-background-color:linear-gradient(#212121, #212121);
}

#hot{
    -fx-background-color: linear-gradient(to bottom,#CA7464,#9C483C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #D79386;
    -fx-padding: 4px 8px;
}
#news{
    -fx-background-color: linear-gradient(to bottom,#889F6C,#5E754B);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #A1B38B;
    -fx-padding: 4px 8px;
}
#data{
    -fx-background-color: linear-gradient(to bottom,#D5AD4F,#BA8134);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #DEBF74;
    -fx-padding: 4px 8px;
}

#hot:hover,#news:hover,#data:hover{
    /*
    这个是遮罩
     */
    -fx-opacity: 0.6;
}

#bt_top_zijin{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_top_zijin:hover {
    -fx-background-color: linear-gradient(#404040, #686868);
}
#bt_top_util{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_top_util:hover {
    -fx-background-color: linear-gradient(#404040, #686868);
}
#bt_scale{
     -fx-text-fill: white;
     -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
 }
#bt_scale:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}


#bt_zoom{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_zoom:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#bt_close{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_close:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}
/*
center
 */
#center_root{
    -fx-background-color:transparent;
}
#fenshi{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#fenshi:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}


#oneMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#oneMinute:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#fiveMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#fiveMinute:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#tenMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}

#tenMinute:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}
#back{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#back:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#fifteenMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#fifteenMinute:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#thrityMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#thrityMinute:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#sixtyMinute{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#sixtyMinute:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#day{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#day:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#week{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#week:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}
#month{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#month:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

#to_transaction{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#to_transaction:hover{
    -fx-background-color: linear-gradient(#404040, #686868);
}

.table-view {
    -fx-base: #000000;
    -fx-control-inner-background: #000000;
    -fx-background-color: #000000;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}


.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width:0 1 0 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            derive(-fx-base, 50%)
            transparent
            transparent;
    -fx-border-insets: 0 0 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial Narrow";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-row-cell .cell {
-fx-alignment: center;
-fx-text-fill: white;
}


.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #000000 transparent #000000;
    -fx-background-color: transparent, derive(#000000,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}





/**
buttom start
 */
#btm_top{
    -fx-background-color: transparent;
}
#tp_root{
    -fx-background-color: #A9A9A9;
}


#bt_top_system{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}
#bt_top_system:hover {
    -fx-background-color: linear-gradient(#404040, #686868);
}

.menu-bar{
    -fx-text-fill: white;
    -fx-background-color: #00000000;
}

.menu-bar .label {
    -fx-text-fill: A9A9A9;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #00000000;
}

.menu:hover {
    -fx-background-color: linear-gradient(#404040, #686868);
}

#Indicator .button{
    -fx-background-color: #484848;
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
    -fx-text-fill: #dddddd;
    -fx-font-size: 10px;
    -fx-cursor: hand;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-padding: 1px 4px;
    -fx-min-width: 40px;
    -fx-border-width:0 1px 0 0;
    -fx-border-style: solid;
    -fx-border-color: #808080;
    -fx-background-radius: 0px;
    -fx-pref-height: 1em;
    -fx-max-height: 1em;
    -fx-fill-height: true;
}
#Indicator .button:hover{
    -fx-background-color: #D4D0C8;
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
    -fx-text-fill: #FF0000;
    -fx-font-size: 10px;
    -fx-cursor: hand;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-padding: 1px 4px;
    -fx-border-width:0 1px 0 0;
    -fx-border-style: solid;
    -fx-border-color: #808080;
    -fx-background-radius: 0px;
    -fx-pref-height: 12px;
    -fx-max-height: 12px;
    -fx-fill-height: true;
}

#tb_goods .table-column{
    -fx-padding: 0px 0px;
    -fx-border-width: 0px;
}
#newest .label{
    -fx-font-size: 14px;
    -fx-pref-width: 55px;
    -fx-text-fill: #D4D0C8;
}

