#lvBulletin .list-cell,#lvNews .list-cell,#lvInfo .list-cell{
    -fx-background-color: #2A2A2A;
    -fx-pref-height: 26px;
    -fx-font-size: 12px;
    -fx-padding: 0px;
}
#lvBulletin .list-cell:odd,#lvNews .list-cell:odd{
    -fx-background-color: #000;
}