#lv_news{
    -fx-background-color: black;
    -fx-cell-hover-color: #9db4c5;
}
.list-cell{
    -fx-background-color: #000;
    -fx-text-fill: #C9992D;
    -fx-pref-height: 24px;
    -fx-padding: 4px 0;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
.list-cell:hover{
    -fx-background-color: #404040;
}
#newsTab .label{
    -fx-cursor: hand;
}

#newsChild1 .label:hover,#newsChild2 .label:hover{
    -fx-background-color: #444;
}

/* The main scrollbar **track** CSS class  */
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track{
    -fx-background-color:#1B1B1B;
    -fx-border-color:#1B1B1B;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:#1B1B1B;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {

    -fx-background-color:#1B1B1B;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.list-view  .scroll-bar .increment-arrow,
.list-view  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:#4F4F4F;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}