#submit{
    -fx-pref-width: 182px;
    -fx-pref-height: 30px;
    -fx-border-color: #DDDDDD;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-color: linear-gradient(to bottom,#F1F1F1,#D2D2D2);
}
#valiCode{
     -fx-pref-width: 80px;
     -fx-pref-height: 30px;
     -fx-border-color: #DDDDDD;
     -fx-border-style: solid;
     -fx-border-width: 1px;
     -fx-background-color: linear-gradient(to bottom,#F1F1F1,#D2D2D2);
 }